
.vs/GAME2001_A1_PlataNestor/v16/.suo
*.db-wal
.vs/GAME2001_A1_PlataNestor/v16/.suo
.vs/GAME2001_A1_PlataNestor/v16/Browse.VC.db
.vs/GAME2001_A1_PlataNestor/v16/ipch/AutoPCH/258a1b5c7e716a94/DRIVER.ipch
